/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/*
FONTS
*/

@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'ParryGrot';
    src: url('fonts/parrygrotesque-bold-webfont.eot');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'ParryGrot';
    src: url(//:) format('no404'), url('fonts/parrygrotesque-bold-webfont.woff') format('woff'), url('fonts/parrygrotesque-bold-webfont.ttf') format('truetype'), url('fonts/parrygrotesque-bold-webfont.svg#webfontyG9BqkGf') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'ParryGrot';
    src: url('fonts/parrygrotesque-normal-webfont.eot');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'ParryGrot';
    src: url(//:) format('no404'), url('fonts/parrygrotesque-normal-webfont.woff') format('woff'), url('fonts/parrygrotesque-normal-webfont.ttf') format('truetype'), url('fonts/parrygrotesque-normal-webfont.svg#webfont9QE7Dtls') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'Parry';
    src: url('fonts/parry-normal-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'Parry';
    src: url(//:) format('no404'), url('fonts/parry-normal-webfont.woff') format('woff'), url('fonts/parry-normal-webfont.ttf') format('truetype'), url('fonts/parry-normal-webfont.svg#webfontJq7KWXVB') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'Parry';
    src: url('parry-bold-webfont.eot');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'Parry';
    src: url(//:) format('no404'), url('fonts/parry-bold-webfont.woff') format('woff'), url('fonts/parry-bold-webfont.ttf') format('truetype'), url('fonts/parry-bold-webfont.svg#webfonth1mGzB0K') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* first for IE 4–8 */
@font-face {
    font-family: "Yoga";
    src: url("fonts/YogaWebPro.eot");
    font-weight: 400;
    font-style: normal;
}

/* then for WOFF-capable browsers */
@font-face {
    font-family: "Yoga";
    src: url("fonts/YogaWebPro.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Yoga";
    src: url("fonts/YogaWebPro-Italic.eot");
    font-weight: 400;
    font-style: italic;
}

/* then for WOFF-capable browsers */
@font-face {
    font-family: "Yoga";
    src: url("fonts/YogaWebPro-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Yoga";
    src: url("fonts/YogaWebPro-Bold.eot");
    font-weight: 700;
    font-style: normal;
}

/* then for WOFF-capable browsers */
@font-face {
    font-family: "Yoga";
    src: url("fonts/YogaWebPro-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Yoga";
    src: url("fonts/YogaWebPro-BoldItalic.eot");
    font-weight: 700;
    font-style: italic;
}

/* then for WOFF-capable browsers */
@font-face {
    font-family: "Yoga";
    src: url("fonts/YogaWebPro-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}




/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root { 
    --gray: rgb(240,240,240); 
    --purple: #6600FF;
    --blue: #0066ff;
} 

body {
    padding: 20px;
    background: var(--gray);
}

h1,h2,h3,li {
    margin: 0;
    font-size: 1em;
    font-family: 'ParryGrot',sans-serif;
}

figcaption,small {
    font-family: 'ParryGrot',sans-serif;
    font-size: .75rem;
    padding-top: 5px;
    color: #666;
}

nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#main-nav a {
    /*text-transform: lowercase;*/
}

header h1 {
    margin-right: 50px;
    font-weight: 400;
}

header h1, #main-nav {
    display: inline-block;
    float: left;
}

h1 a, #main-nav a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    padding: 0 .2em 6px .2em; 
    overflow: hidden;
    color: black;
}

h1 a {
    padding-left: 0;
}

#main-nav a {
    border-bottom: 1px solid black;
}

#main-nav a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    background: black;
    transform: translateY(6px);
    transition: all .1s;
}

#main-nav a:hover:after {
    transform: translateY(0px);
}

canvas{
    width: 100%;
    max-width: 800px;
    /*transform: scale(.5);*/
    /*background: blue;*/
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .25s;
    margin-bottom: 25px;
}

canvas.vertical {
    max-width: 600px;
}

canvas.fade-in {
    opacity: 1;
}

main {
    clear: both;
    display: block;
    max-width: 1400px;
    margin-top: 75px;
}

main header, main p {
    max-width: 600px;
    margin: 0 auto;
}

.project-page main h1 {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    position: relative;
    font-size: 1.25rem;
    width: 130px;
    line-height: 1.2;
}

.project-page main h1:before {
    content: "";
    display: block;
    width: 150px;
    height: 1px;
    background: black;
    transform: rotate(-10deg);
    position: absolute;
    bottom: 28px;
}

.project-page main h1:after {
    content: "";
    display: block;
    margin-bottom: 38px;
}

@media only screen and (min-width: 775px) {
  .project-page main h1 {
    transform: translateX(-65px);
  }

    .project-page main h1:before {
        bottom: 8px;
    }

    .project-page main h1:after {
        margin-bottom: 18px;
    }
}

.project-page section {
    clear: both;
}

.project-page h2 {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    line-height: 1.75;
}

main p {
    font-family: "Yoga", serif;
    font-size: 1.1rem;
    line-height: 1.5;
    
}

p + p {
    text-indent: 2em;
}

section {
    margin: 50px 0;
    display: block;
    width: 100%;
}

section h2 {
    width: 100%;
    text-align: center;
}

.img-container {
    display: flex;
    max-width: calc(1000px + 1.5rem);
    margin: 1.5rem auto;
}

/*.img-container figure {
    margin: auto;
}*/

.img-container figure {
    margin: 0 .75rem;
}

.img-container img {
    max-width: 100%;
}


footer {
    margin: 50px 0;
}

footer li {
    padding: .25em;
}

footer li a{
    display: block;
    padding:0;
    text-align: center;
    color: black;
    text-decoration-style: wavy;
    transition: color, text-decoration-color .2s;
}

footer li a:hover{
    color: blue;
    text-decoration-color: var(--blue);
}

footer li a:visited, footer li a:visited:hover {
    
    text-decoration-style: wavy;
    text-decoration-color: var(--purple);
}
footer li a:visited:hover {
    color: var(--purple);
}

#index h2 {
    display: inline;
    position: absolute;
    padding: .25em .5em .4em;
    color: white;
    text-decoration: none;
    position: relative;
    background: black;
    font-size: 1rem;
    /*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;*/
    border-bottom: 10px solid var(--blue);
}

@media only screen and (min-width: 600px) {
  #index h2 {
    font-size: 1.75rem;
  }
}

#index a:visited h2 {
    border-bottom: 10px solid var(--purple);
}

#index section {
    max-width: 800px;
    max-height: 100vh;
    margin: 50px auto;
    padding: 50px 0;
    position: relative;
}

#index section:first-of-type {
    margin-top: 0;
    padding-top: 0;
}

#index section:after {
    content: "— — — — — — — — — — — — — —";
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: underline overline;
    text-decoration-style: wavy;
    position: relative;
    z-index: 1000;
    bottom: -60px;
    font-family: "ParryGrot",sans-serif;
}

#index section:last-of-type:after {
    display: none;
}

#index section a {
    text-decoration: none;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
