.chapter {
	@include box-sizing(border-box);

	@media only screen 
	and (max-device-height : 480px) {
		min-height: 480px;
	}

	@media only screen 
	and (max-device-height : 1024px)
	and (orientation : portrait) {
		min-height: 1024px;
	}

	@media only screen 
	and (max-device-height : 1024px)
	and (orientation : landscape) {
		min-height: 768px;
	}

	@include ios-vh() {
		min-height: 100vh;
	}
	
	margin: 10em 0;
	clear: both;

	overflow: hidden;

	.sticky-header {
		height: 10em;
		@include ios-vh() {
			height: 20vh;
		}

		@media only screen 
		and (min-width : 769px) {
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	h2 {
		padding-top: 2em;
		margin-bottom: 4.5em;
	}

	.h2-inner {
		display: block;
		background-color: $red;
		padding: 0 1em;
		color: white;
		position: relative;
		overflow: hidden;

		@media only screen 
		and (min-width : 768px) {
			display: inline-block;

			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				height: 1.4em;
				width: 1.4em;
				top: 50%;
				margin-top: -.7em;
				background-color: white;
				@include transform(rotate(45deg));
			}

			&:before {
				left: 0;
				margin-left: -1em;
			}

			&:after {
				right: 0;
				margin-right: -1em;
			}	
		}
	}

	&.sticky {
		position: relative;

		.sticky-header {
			position: fixed;
			top: 0;
			z-index: 100;
			width: 100%;
		}

		h2 {
			position: relative;

			&:before {
				content: '';
				position: absolute;

				top: 0;
				left: 0;
				height: 8em;
				width: 100%;
				@include background( linear-gradient(top, rgba(255,255,255,1) 0, rgba(255,255,255,1) 4em, rgba(255,255,255,0) 8em ) );
			}

				

		}
	}


}