.title {

	@include box-sizing(border-box);
	margin: 10em 0;

	header {
		position: relative;
		padding: 2.5em 1em 0;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 40%;
			width: 20%;
			height: 5px;
			margin: 0 auto;
			background-color: $red;

			@media only screen 
			and (min-width : 600px) {
				left: 46.25%;
				width: 7.5%;	
			}

			@include border-radius(5px);
		}
	}

	header > div {
		overflow: auto;
	}

	h3 {
		font-size: 2.25em;
		line-height: 1;
		padding: .25em 0 .25em;
		position: relative;

		@media only screen 
		and (min-width: 480px) {
			font-size: 2.75em;
		}

		@media only screen 
		and (min-width: 600px) {
			font-size: 3.5em;
		}

		
	}

	h4 {
		font-weight: 400;
		font-size: 1.5em;
		line-height: 1.25;
		margin-bottom: 1.166em;

		@media only screen 
		and (min-width : 600px) {
			font-size: 2em;
		}
	}

	h6 {
		padding: 0 0 1.25em;
	}

	p {
		margin-top: 0;
		font-size: 1.5em;

		@media only screen 
		and (min-width : 600px) {
			font-size: 2em;
		}
	}
}

.book-cover {
	max-width: 90%;
	margin: 0 auto;

	@media only screen 
		and (min-width: 600px) {
			max-width: 25%;
		}

}